PORT=5000
MONGO_URL=
CORS_ORIGIN=http://localhost:3000

# JWT configuration
ACCESS_TOKEN_SECRET=qRZw9sEJYSERHrCaEcv251dhoZaahQcjxFY8nmGO
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=Ecv251dhoZaahQcjxFY8nmGOERHrCaEcv251dhoZ
REFRESH_TOKEN_EXPIRY=10d

# Cloudinary configuration (pranavmawle8206 account)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=

BASE_URL=http://localhost:5000
NODE_ENV = "development" 